@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* Variables */

:root {
   
   
   /* Variables de colores */

    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;

    /* Fuentes */
   
    --fuente: 'Roboto', sans-serif; 

    /* Tamaños tipograficos */

    --parrafos: 12px;
    --titulos: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripcion: 16px; 


}

/* Generales */

* {
margin: 0;
padding: 0; 
box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none
}

ul{
    list-style: none;
}

body {
    font-family: var(--fuente);
    background-color: var(--grisClaro);
}

/* Header */

header {
    background-color: var(--amarillo);
    padding: 25px 0;
    width: 100vw;
    
}

header div.logo {
    width: 135px;
    margin-left: 25px;
}


header div.busqueda {
    
    display:flex;
  
    margin-left:20px ;
    width: 90vw;
    margin-bottom: 10px;
}

header div.busqueda input{
    width: 90vw;
}
header div.busqueda button{
    width: 10vw;
}

header nav{
    display: none;
}

header p {
    font-size: var(--parrafos);
    text-align: center;
}

header div.burger-menu{
    

  
    color: white;
    background-color: var(--celeste);
    text-align: center; 
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 50% 0;
    
    
}


/* MAIN */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    
    
}

main div img.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}



section.seccionProductos article{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: 15px;
    border-top: #d8d0d0 3px solid;
    padding: 15px;
}

section.seccionProductos article div.descuento{
    color: #39b54a;



}


section.seccionProductos article div.descuento i{
    border: #39b54a 1px solid;
    border-radius: 50% ;
    padding: 5px;
    margin: 5px 0;
}
/* FIN MAIN */


/* FOOTER */

footer {
    padding: 50px 10px 10px;
    background-color: white;
}

footer article{
    text-align: center;
    margin-bottom: 50px;
  
}

footer article i{
    font-size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;

}

footer span{
    font-size: var(--parrafos);
}


@media (min-width: 420px){

    /* --- HEADER --- */
    header div.burger-menu{
        display: none;
    }

    header nav {
        display: flex;
        justify-content: space-around;
    }
   
       
    header p#subtitulo{
        text-align: center;
        margin-bottom: 15px;
    }
    
    header nav ul#listaSuperior{
    
        margin-bottom: 15px;
    }
    
    header nav ul li a{
    font-size: var(--parrafos);
    }
    
    /* --- FIN HEADER */

    /* --- MAIN --- */
    section.seccionProductos article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    /* --- FIN MAIN --- */
}


@media (min-width:1100px){

    
}